#health_bar_container {
  height: 5em;
  width: 2em;
  background-color: #eee;
  border: 3px solid black;
  position: relative;
  #bar1 {
    background-color: #116a42;
    /* position: relative; */
  }

  #bar2 {
    background-color: #137c4d;
  }

  #bar3 {
    background-color: #158e58;
  }

  #bar4 {
    background-color: #18a063;
  }

  .health_bar_container-bar {
    width: 100%;
    padding: 0.1em;
    height: 1.099em;
  }
}
