.modal_overlay_container {
  display: flex;
  justify-content: center;
  //   align-items: center;
  //   position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 32, 32, 0.616);

  &_input-container {
    position: absolute;
    border: 2px solid white;
    width: 45em;
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20%;
    background-color: rgb(17, 17, 17);
  }

  &_input-guess {
    width: 50%;
    height: 40%;
    border: 12px ridge whitesmoke;
    background-color: rgba(121, 120, 119, 0.808);
  }

  &_input-check {
    margin-top: 1em;
    padding: 0.4em;
  }
}
